h1 {
	text-align: center;
}

button {
	margin-top: 50px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid blue;
}
.card > .neeche_wala > button {
	margin-top: 20px;
	margin-left: 10px;
	max-height: 50px;
}

.card {
	padding-bottom: 20px;
	border: 2px solid black;
	border-radius: 30px;
	padding-top: 0px;
	max-width: 500px;
	display: block;
	background-color: #dfccfb;
}
.card > .sound {
	background-color: #d0bfff;
	border-bottom: 0.5px solid black;
	border-radius: 30px;
	max-width: 600px;
	max-height: 80px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-right: 200px;
}
audio {
	margin-left: 10px;
	min-width: 300px;
	border: 2px solid #80b3ff;
	border-radius: 50px;
}
.sound {
	display: flex;
}
.neeche_wala {
	display: flex;
}
h3 {
	margin-top: 30px;
	margin-left: 20px;
}
img {
	height: 100px;
	width: 100px;
	border-radius: 200px;
	margin-left: 50px;
	margin-top: 25px;
	border: 5px solid white;
}
.card > .neeche_wala {
	max-height: 60px;
	margin-left: 10px;
}
.aila_jadu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 0px;
}
.pura {
	margin: 1
    body {
      background-color: #D2E0FB;
    }
    h1 span {
      color: #ffe5e5;
      background-color: #5d12d2;
      padding: 25px;
      border-radius: 15px;
      border: 3px solid black;
    }
    h1 {
      text-align: center;
      
    }
    .heading {
      margin-top: 50px;
      margin-bottom: 4rem;
    }
    img {
      height: 100px;
      width: 100px;
      margin: 50px;
      border-radius: 20%;
      box-shadow: 7px 7px 5px rgb(209, 243, 153);
      border: 2px solid black;
      margin-bottom: 0px;
    }
    .clubName {
      font-size: 2rem;
      margin-bottom: 20px;
      margin-top: 20px;
      font-weight: 700;
      color: #b931fc;
    }
    
    .card > .term {
      border: 1px solid black;
      text-align: center;
      max-width: 20rem;
      min-width: 20rem;
      margin: 2rem;
      padding: 1rem;
      padding-top: 2px;
      padding-bottom: 2rem;
      border-radius: 30px;
      box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
      background-color: rgb(222, 250, 255);
      margin-top: 0px;
    }
    .card2 > .term {
      border: 1px solid black;
      text-align: center;
      max-width: 20rem;
      min-width: 20rem;
      margin: 2rem;
      padding: 1rem;
      padding-top: 2px;
      padding-bottom: 2rem;
      border-radius: 30px;
      box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
      background-color: rgb(222, 250, 255);
      margin-top: 0px;
    }
    
    dd {
      word-wrap: break-word;
      width: 20rem;
    }
    .clubDescription {
      margin-bottom: 15px;
    }
    dd {
      font-size: 97.5%;
      margin-left: 0;
    }
    .bada > .card {
      display: inline-flex;
    }
    .bada > .card2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .bada > .hard {
      display: flex;
      justify-content: center;
      align-items: center;
    }
 
    h2 {
      margin top:30px;
      margin-bottom:50px;
      
      text-align: center;
      /* color:#610C9F; */
      font-size:1.8rem;
      /* text-decoration:underline; */
      
    }
    00px;
	margin-bottom: 0px;
	margin-left: 50px;
	margin-top: 70px;
}
h1 {
	margin: 0px;
	margin-top: 40px;
}
h1 span {
	background-color: #687eff;
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
	color: white;
	border: 4px solid rebeccapurple;
}
body {
	background-color: #efdcff;
}
